.discussions-page {
  display: flex;
  flex-direction: row;
  margin-left: -20px;
}

.discussions-nav {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  width: 30%;
  padding: 5px;
  position: relative;
  z-index: 1;
}

.discussions-view {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-left: 15px;
}

.discussions-heading {
  margin-bottom: 5px;
}

.discussions-listing-link {
  padding: 10px 5px 10px 15px;
  font-size: 1.1em;
  font-weight: bold;
  color: var(--primary-color-50a);
}

.discussions-listing-link:hover {
  color: var(--primary-color);
}

/* NAV */

.discussions-nav__role-heading {
  margin: 2px;
}

.discussions-nav__role:not(:last-child) {
  border-bottom: 1px solid var(--primary-color-50a);
}
.discussions-nav__role + .discussions-nav__role {
  margin-top: 8px;
}

.discussions-nav__con-list {
  padding: 2px 4px;
  margin: 0;
}

.discussions-nav__dis-list {
  padding-left: 6px;
}

.discussions-nav__con-list li {
  list-style-type: none;
}

.discussions-pending__link,
.discussions-nav__dis-item {
  text-decoration: none;
  color: var(--primary-color);
  white-space: nowrap;
  position: relative;
  padding-left: 3px;
}

.discussions-pending__link:hover,
.discussions-nav__dis-item:hover {
  cursor: pointer;
}

.discussions-nav__dis-item:hover {
  padding-left: 5px;
}

.discussions-nav__link {
  display: block;
  text-decoration: none;
  padding: 4px 6px 4px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  color: var(--primary-color);
}

.discussions-nav__link:hover {
  display: inline-block;
  overflow: visible;
}

.discussions-nav__link span {
  position: relative;
  z-index: 1;
}

.discussions-nav__link:hover::before, /* Circle */
.discussions-pending__link:hover::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--primary-color-50a);
  margin-right: 3px;
}


.discussions-nav__link:hover::after {
  background-color: var(--secondary-color);
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

.discussions-nav__link::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.discussions-nav__link.active:not(:hover)::after {
  background-color: var(--primary-color);
  opacity: 0.1;
}

.discussions-pending__link {
  padding: 5px 0;
}

.discussions-pending__link:hover::before {
  margin-right: 3px;
}


/* POSTS */
.discussions-post__title {
  margin: 5px 0;
}

.discussions-post {
  margin: 5px 0;
}

.dicussions-post__header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  padding: 5px 3px;
  background-color: var(--primary-color-50a);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid var(--primary-color-50a);
  margin: 0;
  color: white;
}

.dicussions-post__header:hover {
  cursor: pointer;
}

.discussions-post__time {
  font-size: .7em;
}

.discussions-post__name {
  margin-left: 3px;
}

.discussions-post__msg {
  padding: 7px;
  line-height: 1.4;
  border: 1px solid var(--primary-color-50a);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.discussions-post.collapse .discussions-post__msg {
  display: none;
}

.discussions-post.collapse .discussions-post__name {
  font-size: .7em
}


/* FORM */
.discussions-form {
  margin: 5px 0;
}
.discussions-post__button {
  font-size: .9em;
  padding: 3px 10px;
  margin: -2px 5px;
}

.discussions-post__button:hover {
  background-color: white
}

.discussions-post__textarea {
  width: 100%;
  min-height: 8em;
  margin-bottom: -5px;
  resize: none;
  border: 1px solid var(--primary-color-50a);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 7px;
  line-height: 1.4;
  box-sizing: border-box;
}

.discussions-post__textarea:focus {
  box-shadow: 0 0 2px 1px black inset;
  outline: none;
}
