html {
  height: 100%;
}

body {
  --primary-color: rgb(46, 46, 161);
  --primary-comp: rgb(111, 207, 236);
  --primary-color-50a: rgba(46, 46, 161, 0.5);
  --primary-color-20a: rgba(46, 46, 161, 0.2);

  --secondary-color: rgb(220,220,220);

  --warning-color: rgb(202, 39, 39);
  --warning-color-20a: rgba(202, 39, 39, 0.2);


  --bg-color: rgb(255,255,255);
  --bg-color-50a: rgba(255,255,255,0.5);

  --bg-modal-50a: rgba(0, 0, 0, 0.5);


  --error-color: red;
  --error-bg: rgba(255, 199, 199, 0.5);
  --button-color: var(--primary-color);
  --button-hover: var(--primary-color-20a);

  height: 100%;
  background-color: var(--bg-color);
}

div {
  box-sizing: border-box;
}

h1, h2, label {
  color: var(--primary-color);
}

.root {
  height: 100%;
  display: flex;
  justify-content: center;
}

.page {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 8px var(--primary-color-50a);
}

.button {
  border-radius: 1.1em;
  border: 0;
  padding: 5px 10px;
  background-color: var(--button-color);
  color: rgb(236, 236, 236);
  margin: 3px;
  font-weight: bold;
  position: relative;
  outline: none;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  text-decoration: none;
}

.button:hover {
  color: var(--primary-color);
  background-color: var(--button-hover);
  cursor: pointer;
}

.button:focus {
  top: 1px;
  left: 1px;
  box-shadow: 0px 0px 1px;
}

.button.--warning {
  background-color: var(--warning-color);
}

.button.--warning:hover {
  background-color: var(--warning-color-20a);
}

.error-list {
  width: 80%;
  color: var(--error-color);
  list-style-type: none;
  padding: 10px;
  background-color: var(--error-bg);
  border-radius: 5px;
  border: 1px solid var(--error-color);
}

.error-list li {
  padding: 2px;
}

.error-list li:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.icon {
  color: var(--primary-color);
}
