html {
  --primary-color: rgb(46, 46, 161);
  --primary-comp: rgb(111, 207, 236);
  --primary-color-50a: rgba(46, 46, 161, 0.5);
  --primary-color-20a: rgba(46, 46, 161, 0.2);

  --secondary-color: rgb(220,220,220);

  --warning-color: rgb(202, 39, 39);
  --warning-color-20a: rgba(202, 39, 39, 0.2);


  --bg-color: rgb(255,255,255);
  --bg-color-50a: rgba(255,255,255,0.5);

  --bg-modal-50a: rgba(0, 0, 0, 0.5);


  --error-color: red;
  --error-bg-50a: rgba(255, 199, 199, 0.5);
  --error-bg:  rgb(255, 199, 199);

  --button-color: var(--primary-color);
  --button-hover: var(--primary-color-20a);


  height: 100%;
}

body {
  height: 100%;
  background-color: var(--bg-color);
  font-family: 'Heebo', sans-serif;
}

div {
  box-sizing: border-box;
}

h1, h2, label {
  color: var(--primary-color);
}

.root {
  min-height: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
}

/* TODO scroll bars */

.main {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 8px var(--primary-color-50a);
}

.footer {
  background-color: var(--primary-color);
  margin: 0 -20px;
  padding: 10px;
  color: white;
  box-shadow: 0px 0px 8px var(--primary-color-50a);
  display: flex;
  justify-content: space-between;
}

.footer__about:hover {
  text-decoration: underline;
  cursor: pointer;
}

.about {
  color: var(--primary-color);
  padding: 20px;
}

.about-img {
  float: left;
  width: 160px;
  border-radius: 80px;
}

.about-links-group {
  display: flex;
  height: 160px;
  flex-direction: column;
  padding-left: 20px;
  justify-content: space-evenly;
}

.about-link {
  text-decoration: none;
  padding: 10px;
  border: 1px solid var(--primary-color-50a);
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

.about-link:hover {
  color: white;
  background-color: var(--primary-color);
}


.button {
  border-radius: 1.1em;
  border: 0;
  padding: 5px 10px;
  background-color: var(--button-color);
  color: rgb(236, 236, 236);
  margin: 3px;
  font-weight: bold;
  position: relative;
  outline: none;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  text-decoration: none;
}

.button:hover {
  color: var(--primary-color);
  background-color: var(--button-hover);
  cursor: pointer;
}

.button:focus {
  top: 1px;
  left: 1px;
  box-shadow: 0px 0px 1px;
}

.button.--warning {
  background-color: var(--warning-color);
}

.button.--warning:hover {
  background-color: var(--warning-color-20a);
}

.logo {
  fill: var(--primary-color);
}

.error-list {
  width: 80%;
  color: var(--error-color);
  list-style-type: none;
  padding: 10px;
  background-color: var(--error-bg-50a);
  border-radius: 5px;
  border: 1px solid var(--error-color);
}

.error-list li {
  padding: 2px;
}

.error-list li:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.icon {
  color: var(--primary-color);
}

@media (max-width: 400px) {
  body {
    min-width: 300px;
  }
  .main {
    width: 100%;
  }
}
