.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--bg-modal-50a);
  display: flex;
  padding-top: 20px;
  overflow: auto;
}

.modal-close {
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: 100%;
  left: 100%;
  font-size: 30px;
  color: var(--primary-color-50a);
  padding: 5px;
  background-color: var(--bg-color);
  border-radius: 20px;
  z-index: 1;
  margin-bottom: -25px;
  margin-left: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-times-circle:hover  {
  color: var(--primary-color);
  cursor: pointer;
}

.modal-content {
  display: flex;
  margin: auto;
  position: relative;
  background-color: var(--bg-color);
  border-radius: 20px;
  border-top-right-radius: 0;
}

.modal-wrapper {
  display: inline-block;
}

.modal-content form {
  box-sizing: border-box;
}
