.main-nav {
  display: flex;
  justify-content: space-between;
  align-items:  center;
  position: relative;
  margin: 0 -20px;
  background-color: var(--secondary-color);
  /* box-shadow: 0px 3px 2px var(--primary-color); */
}

.logo {
  margin: 5px 5px 5px ;
  height: 30px;
  width: 30px;
}

.main-nav__logo-link {
  display: flex;
  align-items:  baseline;
  text-decoration: none;
  font-weight: 800;
  font-size: 2em;
}

.main-nav__logo-link:hover [data-polygon='SmallM'] {
  fill: red;
}

.main-nav__logo-link:visited {
  color: var(--primary-color);
}

.main-nav__list {
  display: flex;
  list-style-type: none;
  margin: 0 0 5px 0;
  align-self: flex-end;
}

.main-nav__signup {
  margin-right: 10px;
}

.profile-menu {
  position: absolute;
  z-index: 1;
  right: 0;
  padding: 5px;
  border: 1px solid var(--primary-color-20a);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
}

.profile-item {
  align-self: baseline;
}

.profile-info {
  padding: 4px;
}

.profile-button {
  font-size: .7em;
}

/* Profile Icons */
[class*=profile-icon] {
  display: inline-block;
  position: relative;
  font-size: 1.5em;
  color: var(--primary-color-50a);
}

[class*=profile-icon]:hover,
.show:hover + .profile-icon__times-circle {
  cursor: pointer;
  color: var(--primary-color);
}

[class*=profile-icon].show,
body:hover .profile-item:not(:hover) .profile-icon__times-circle  {
  color: var(--primary-color);
}

.profile-icon__user {
  z-index: 1;
  margin-right: 1em;
}

.profile-icon__times-circle {
  margin-left: -1em;
  left: -0.5em;
  top: -0.3em;
  font-size: 1.2em;
  color: var(--primary-color-20a);
}

/* Sub Nav */
.sub-nav {
  margin: 0 -20px;
  background-color: var(--primary-color);
  padding: 3px 5px;
  box-shadow: 0px 0px 8px var(--primary-color-50a);
}
.sub-nav__list {
  display: flex;
  justify-content: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sub-nav__link {
  color: var(--secondary-color);
  text-decoration: none;
  margin: 0 10px;
}
.sub-nav__link:hover {
  text-decoration: underline;
}
