/* COMMON */
.new-discussion__title {
  display: block;
}

/* ON PAGE */

/* IN MODAL */
.modal .new-discussion__form {
  padding: 20px;
}

.modal .new-discussion__label {
  display: block;
  margin: 10px 0;
}
.modal .new-discussion__title,
.modal .new-discussion__title:focus {
  outline: none;
  border: none;
  font-weight: bold;
  padding-left: 10px;
  font-size: 1.4em;
}

.new-discussion__prompt {
  font-size: .8em;
  color: black;
}

.modal .new-discussion__textarea {
  display: block;
  min-width: 300px;
  min-height: 4em;
  resize: none;
  padding: 5px;
  box-sizing: border-box;
  line-height: 1.5;
}
