.public-list__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.public-list__list-item {
  margin: 15px auto;
  display: block;
  border: 1px solid var(--primary-color-50a);
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.public-list__list-item:after {
  content: "";
  display: table;
  clear: both;
}

.connected {
  background-color: var(--secondary-color);
}

.connection-message {
  text-align: center;
  font-size: 1.3em;
  color: var(--primary-color-50a);
}

.public-list__name {
  margin: 5px;
}

.public-list__img {
  width: 70px;
  border-radius: 35px;
  float: left;
  margin: 5px 10px;
}

.public-list__description {
  margin: 10px 5px;
}

.public-list__no-connect {
  margin: 10px 5px;
}

.public-list__no-connect-note {
  display: none;
  opacity: 0;
  transition: opacity 2s;
  font-size: .75em;
  position: absolute;
  top: -11px;
  left: -1px;
  right: -1px;
  z-index: 1;
  padding: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: var(--error-bg);
  border: 1px solid var(--primary-color-50a);
}
.public-list__list-item:hover .public-list__no-connect-note {
  display: block;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
