.user-listing {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mentor-list__list-item,
.mentee-list__list-item {
  margin: 15px auto;
  display: block;
  border: 1px solid var(--primary-color-50a);
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.mentees,
.mentors {
  position: relative;
}

.mentors + .mentees {
  margin-top: 40px;
  padding-top: 10px;
  border-top: 2px solid var(--primary-color-20a);
}

.mentors + .mentees:before {
  content: '';
  background-image: url(../images/mentor-me-logo.svg);
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 20px;
  position: absolute;
  top: -11px;
  justify-content: center;
}

.no-list {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
  color: var(--secondary-color);
  margin: 0;
  text-align: center;
}

.no-list + .no-list {
  font-size: .8em;
  color: var(--primary-color-50a)
}
