.welcome-pics {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-right: 20px;
  box-sizing: border-box;
}

#welcome-pic-1 {
  position: absolute;
}

#welcome-pic-2 {
  position: relative;
}

.welcome-img {
  display: block;
  width: 100%;
  box-sizing: border-box;
  opacity: 100;
  z-index: 1;
  transition: opacity 2000ms;
}

.welcome-info {
  padding: 0 20px;
}


.hide {
  opacity: 0;
  z-index: 0;
}


@media (max-width: 1000px) {
  .welcome-pics {
    float: none;
    width: auto;
    margin-right: auto;
  }
}
